SERVER_PORT=8080

DB_URL=jdbc:mysql://localhost:3307/quizweb?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=123456

JWT_SECRET=bXlTdXBlclNlY3JldEtleU15U3VwZXJTZWNyZXRLZXlNeVN1cGVyU2VjcmV0S2V5MTIzNDU2
JWT_EXPIRATION=86400000

MAIL_USERNAME=tungvuhoang807@gmail.com
MAIL_PASSWORD=apoy qfyw nfzk mzcm

FRONTEND_URL=http://localhost:5173