PORT=8080

DATABASE_URL=jdbc:postgresql://HOST:PORT/DATABASE
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=86400000

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password

FRONTEND_URL=http://localhost:5173